.our-clients {
	background-color: #f7f7f7;
	height: 200px;
	padding: 15px;
	text-align: center;
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.our-clients--logos {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.our-clients-logos--size {
	height: 80px;
}
